<template>
  <div class="con">
    <h1 v-if="this.is_private">Wysyłasz do {{ this.select_item.name}}</h1>
    <h1 v-else>Wysyłasz do Wszystkich</h1>
    <textarea maxlength="300" id="text_area1" name="message" placeholder="Napisz tu swoje życzenia!" v-model="message"> </textarea>
    <br>
    <label class="container"
           v-if="$route.name === 'Create'"
    >Prywatnie
      <input
          type="checkbox"
          v-model="is_private"
      />
      <span class="checkmark"></span>
    </label>

    <br>
    <div class="select" v-if="is_private && $route.name === 'Create'" >
      <v-select label="name" :options="members" v-model="select_item">
      </v-select>
    </div>
    <div class="full-width">
      <div id="submit" v-on:click="submit_button">Wyślij</div>
    </div>
    <div class="full-width">
      <div id="submit" v-on:click="back_button">Wróć</div>
    </div>
  </div>
</template>

<script>
import vSelect from "vue-select";
import Vue from "vue";
import "vue-select/dist/vue-select.css";

Vue.component("v-select", vSelect);

export default {
  name: "Create",
  data: function() {
    return {
      is_private: false,
      message: null,
      members: [{name:"kanil", email:"dsfsdf"}],
      select_item: "",
      uniq_code: "",
      email: "",
    };
  },
  mounted() {
    this.uniq_code = this.$route.query.uniq_code
    this.email = this.$route.query.email
    if (this.$route.name === "Create") {
      let xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = this.changeMembers;
      const json = JSON.stringify({
        "email": this.email,
        "uniq_code": this.uniq_code
      });
      xhttp.open("POST", "api/listOfMembers", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(json);
    } else if (this.$route.name === "Update") {
      this.message = this.$route.query.message;
      if (this.$route.query.receiver_email){
        this.is_private = !!this.$route.query.receiver_email;
        this.select_item = {
          email: this.$route.query.receiver_email,
          name: this.$route.query.receiver_name
        };
      }
    }
  },
  methods: {
    changeMembers(self){
      if (self.srcElement.readyState === XMLHttpRequest.DONE && self.srcElement.status === 200) {
        this.members = JSON.parse(self.srcElement.responseText);
        this.select_item = this.members[0];
      }
    },
    beforeCreate() {
      const dateOfWigilia = new Date(2020, 12, 22, 14, 0, 0,0);
      if (new Date() > dateOfWigilia)
        window.location.href =
            this.$route.path.replace('create','') +
            "read?uniq_code=" +
            this.uniq_code;
    },
    submit_button() {
      if (this.message) {
        if (this.$route.name === "Create") {
          let xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = this.create_accept;
          const json = JSON.stringify({
            message: this.message,
            sender_email: this.email,
            uniq_code: this.uniq_code,
            is_private: this.is_private,
            receiver_email: this.select_item.email || ""
          });
          xhttp.open("POST", "api/createMessage", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send(json);
        } else if (this.$route.name === "Update"){
          let xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = this.update_accept;
          const json = JSON.stringify({
            message: this.message,
            sender_email: this.email,
            uniq_code: this.uniq_code,
            is_private: this.is_private,
            receiver_email: this.select_item.email || ""
          });
          xhttp.open("POST", "api/updateMessage", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send(json);
        }
      }
    },
    back_button(){
      this.$router.go(-1);
    },
    update_accept(self){
      if (self.srcElement.readyState === XMLHttpRequest.DONE)
        if(self.srcElement.status === 200) {
          window.location.href =
              this.$route.path.replace('update','') +
              "?uniq_code=" +
              this.uniq_code +
              "&email=" +
              this.email;
        }
    },
    create_accept(self){
      if (self.srcElement.readyState === XMLHttpRequest.DONE)
        if(self.srcElement.status === 200) {
          window.location.href =
              this.$route.path.replace('create','') +
              "?uniq_code=" +
              this.uniq_code +
              "&email=" +
              this.email;
      } else if (self.srcElement.status === 400){
          alert('Nie można wysłać więcej niż po 1 wiadomosci do osoby i do wszystkich.!')
        }
    }
  }
}

</script>

<style scoped>
h1 {
  text-align: center;
  color: white;
}

label {
  color: white;
}

.con {
  padding: 20px;
}

select {
appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-size: inherit;
  z-index: 1;
  outline: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;

  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;

  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;

  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

select::after {
   grid-area: select;
}

#text_area1 {
  display: block;
  overflow: auto;
  resize: none;
  background-color: white;
  border-color: rgba(2, 66, 64, 0.8);
  border-radius: 5px;
  padding: 20px;
  border-style: solid;
  text-align: center;
  width: calc(100% - 40px);
  min-height: 40vh;
}

#submit {
  margin: 5px;
  border-radius: 15px;
  display: flex;
  height: 3rem;
  width: 6rem;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #2c3e50;
}

.full-width {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ffae46;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fd9e36;
}
.custom-select {

}
.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
</style>