<template>
  <div id="error">
    <h1> Error 404 </h1>
    <h2> Page not found </h2>
  </div>
</template>

<script>
export default {
  name: "Error"
}
</script>

<style scoped>
#error {
  padding-bottom: 100px;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
</style>