<template>
  <div>
    <div class="container">
      <h1>Twoje Wiadomości</h1>
      <h2>Publiczne:</h2>
      <div id="message" v-if="publicMessage">
        <div class="flex">
          <div class="text button">{{ publicMessage.message }}</div>
          <div class="edit button" v-on:click="update_button($event, publicMessage)">
            <img class="icon" src="../../public/images/edit-24px.svg" />
          </div>
          <div class="delete button" v-on:click="delete_message($event, false)">
            <img class="icon" src="../../public/images/delete-24px.svg" />
          </div>
        </div>
      </div>
      <h2>Prywatne:</h2>
      <div
        id="message"
        v-for="msg of privateMessages"
        :key="msg.receiver_email"
      >
        <div class="flex">
          <div class="private-text button">{{ msg.message }}</div>
          <div class="name button">{{ msg.receiver_name }}</div>
          <div class="edit button" v-on:click="update_button($event, msg)">
            <img class="icon" src="../../public/images/edit-24px.svg" />
          </div>
          <div
            class="delete button"
            v-on:click="delete_message($event, true, msg.receiver_email)"
          >
            <img class="icon" src="../../public/images/delete-24px.svg" />
          </div>
        </div>
      </div>
    </div>
    <div class="full-width">
      <div id="submit" v-on:click="create_button">Nowa wiadomość</div>
    </div>
  </div>
</template>

<script
  src="https://kit.fontawesome.com/82acf3de07.js"
  crossorigin="anonymous"
></script>
<script>

export default {
  name: "List",
  data: function () {
    return {
      uniq_code: "",
      email: "",
      messages: [],
      privateMessages: [],
      publicMessage: null,
    };
  },
  beforeCreate() {
    const dateOfWigilia = new Date(2020, 12, 22, 14, 0, 0, 0);
    if (new Date() > dateOfWigilia)
      window.location.href =
        this.$route.path +
        "read?uniq_code=" +
        this.uniq_code;
  },
  mounted() {
    this.uniq_code = this.$route.query.uniq_code;
    this.email = this.$route.query.email;
    this.update_list().then((resp) => this.setMessages(resp));
  },
  methods: {
    setMessages(response) {
        this.privateMessages = [];
        this.publicMessage = null;
        this.messages = [];
        this.messages = response;
        for (let msg of this.messages) {
          if (msg.receiver_email) this.privateMessages.push(msg);
          else this.publicMessage = msg;
        }
      
    },
    create_button() {
      window.location.href =
        this.$route.path +
        "create?uniq_code=" +
        this.uniq_code +
        "&email=" +
        this.email;
    },
    update_button(event, message) {
      if (message.receiver_email)
        window.location.href =
          this.$route.path +
          "update?uniq_code=" +
          this.uniq_code +
          "&email=" +
          this.email +
          "&message=" +
          message.message +
          "&receiver_email=" +
          message.receiver_email +
          "&receiver_name=" +
          message.receiver_name;
      else window.location.href =
          this.$route.path +
          "update?uniq_code=" +
          this.uniq_code +
          "&email=" +
          this.email +
          "&message=" +
          message.message;
    },
    async delete_message(event, is_private, receiver_email) {
      let xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = this.delete_accept;
      const json = JSON.stringify({
        sender_email: this.email,
        uniq_code: this.uniq_code,
        is_private: is_private,
        receiver_email: receiver_email || ""
      });
      xhttp.open("POST", "api/deleteMessage", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(json);
    },
    delete_accept(self) {
      if (
        self.srcElement.readyState === XMLHttpRequest.DONE &&
        self.srcElement.status === 200
      ) {
        this.update_list().then((resp) => this.setMessages(resp));
      }
    },
    async update_list() {
      let resp = await fetch('api/getMyMessages', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify({
          email: this.email,
          uniq_code: this.uniq_code,
        })
      });
      return await resp.json();
    },

  },
};
</script>

<style scoped>
#submit {
  margin: 5px;
  border-radius: 15px;
  display: flex;
  height: 3rem;
  width: 12rem;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #2c3e50;
}
.full-width {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container {
  padding: 10px;
  text-align: center;
  color: white;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.private-text {
  word-wrap: break-word;
  width: calc(100% - 385px);
}

.name {
  width: 200px;
}

.text {
  width: calc(100% - 170px);
}

.delete {
  width: 60px;
}

.button {
  margin: 0 5px;
  text-align: center;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  cursor: pointer;
}

.edit {
  margin: 5px;
  width: 60px;
}

#message {
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .private-text {
    width: calc(100% - 15px);
  }

  .text {
    width: calc(100% - 15px);
  }

  .name {
    width: calc(100% - 168px);
  }
}
</style>
