<template>
  <div id="read">
    <header class="header">Wszystkie życzenia</header>
    <div id="massage" v-for="msg of massages" :key="msg">
      <div class="flex">
        <div class="text">
          {{ msg.message }}
        </div>
        <div class="private" v-if="msg.is_private">
          Prywatne
          <img src="../../public/images/lock-24px.svg" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Read",
  data: function () {
    return {
      massages: [],
      uniq_code: "",
    };
  },
  beforeCreate() {
    const dateOfWigilia = new Date(2020, 12, 22, 14, 0, 0,0);
    if (new Date() < dateOfWigilia)
      window.location.href =
          this.$route.path.replace('read', '') +
          "error";
  },
  mounted() {
    this.uniq_code = this.$route.query.uniq_code;
    this.get_message();
  },
  methods: {
    get_message() {
      let xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = this.get_message_status;
      const json = JSON.stringify({
        uniq_code: this.uniq_code,
      });
      xhttp.open("POST", "api/readMessage", true);
      xhttp.setRequestHeader("Content-type", "application/json");
      xhttp.send(json);
    },
    get_message_status(self) {
      if (
        self.srcElement.readyState === XMLHttpRequest.DONE &&
        self.srcElement.status === 200
      )
        this.massages = JSON.parse(self.srcElement.responseText);
    },
  },
};
</script>

<style scoped>
body {
  color: white;
}

#read{
  padding: 10px;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 10px;
}

#massage {
  margin-bottom: 10px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.private {
  display: flex;
  align-items: center;
  color: white;
}

.private img {
  margin: 0 10px;
}

.text {
  padding-left: 10px;
  word-wrap: break-word;
  width: 70%;
}

.text img {
  margin: 0 10px;
}

@media only screen and (max-width: 600px) {
  #app {
    width: 100%;
  }
  .text{
    width: calc(100% - 20px);
    padding-bottom: 5px;
  }
}
</style>